<h1>New Post</h1>

<%= form_tag users_path, :method => "post" do %>
<input type="text" name= "user[email]" placeholder="Email">
<input type="password" name= "user[password]" placeholder="Password">

<input type="submit">

<% end %>


